# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
homework4/.idea/compiler.xml
homework4/.idea/.name
homework4/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
homework4/.idea/misc.xml
homework4/.idea/modules.xml
homework4/.idea/workspace.xml
*.iml
*.class
homework4/target/test-classes/Insurance.feature
